.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700";


body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #f5f9fc;
}


a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  background: #04044e;
  color: #adb5bd;
  margin-left: -250px;
  transition: all 0.5s;
}

.sidebar {
  margin-left: 0;
  transition: .5s;
}


.sidebar-header {
  background: #04044e;
  color: #adb5bd;
}

.sidebar-header h3{
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.collapse.show, 
.collapsing {
  background: #313b4c;
}

.nav-item {
  /*color: #ced4da;*/
  color: #adb5bd;
  font-weight: 300;
}

.nav-item.open {
  color: #e9ecef;
  background: #313b4c;
}

.nav-item.active {
  color: #e9ecef;
  background: #2d3646 !important;
}

.nav-item:hover {
  background: #313b4c;
  color: #fff;
  transition: .2s;
}

.nav-item .svg-inline--fa {
  color: inherit;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%
}

.sidebar-header > button {
  position: relative;
  float: right;
  margin: .5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.ml-3{
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
p span{
  white-space: pre-line;
}
.user-name{
  font-weight:bold;
  white-space: pre;
}

/* ---------------------------------------------------
    PROFILE PICTURE STYLE
----------------------------------------------------- */
.picture{
  padding-top: 4rem;
}

.picture-circle {
 margin-left: 4em;
  border: 3px solid #7E9CC2;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-picture{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  padding: 20px;
  margin-left: 0;
  height: 100vh;
  width: 100%;
}
.search-bar{
  display: flex;
  flex-direction: row;
}
.btn{
  margin-left: 90px;
  background-color:#9483c7;
  border-color:#9483c7 ;
}
.form-control{
  margin-left: 20px;
  background-color:#9483c7;
  color: white;
}
::placeholder {
  color: white !important;
  opacity: 1;
}

@media only screen and (max-width: 575.98px) {
  body {
    overflow:  hidden;
  }
  
  .content {
    /*margin-left: 100%;*/
    display: none;
    transition: all 0.5s;
  }
  
  .sidebar {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
    height: 100vh !important;
  }
  
  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
  
}
/* ---------------------------------------------------
    TABLE STYLE
----------------------------------------------------- */
.tableHead{
  background-color:#9483c7 ;
  color: white;
}
.table-bordered td, .table-bordered th {
  padding-left: 3em;
}
.approvel{
  border-radius: 50px!important;
  width: 0px!important;
  height: 0px!important;
  background-color: rgb(148, 255, 148);
}
.decline{
  border-radius: 50px;
  background-color: rgb(255, 121, 121);
}